


.triangle-left {
	background-color: #ECF8FD;
	text-align: left;
    position: absolute;
    top: 43%;
    transform: translateY(-43%);
    left: -2%;
    border:2px solid #CEDADE ;
}
.triangle-left:before,
.triangle-left:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle-left,
.triangle-left:before,
.triangle-left:after {
	width:  34px;
	height: 34px;
	border-top-right-radius: 30%;
}

.triangle-left {
	transform: rotate(-151deg) skewX(-30deg) scale(1,.866);
}
.triangle-left:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle-left:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.shadow-bottom {
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1); 
}
.rating_left{
    right: -9% !important;
}
.angle-left {
    background-color: #fff;
    text-align: left;
    position: absolute;
    top: 43%;
    transform: translateY(-43%);
    border: 2px solid #CEDADE;
    right: -2%;
}
.angle-left:before,
.triangle-left:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.angle-left,
.angle-left:before,
.angle-left:after {
	width:  34px;
	height: 34px;
	border-top-right-radius: 30%;
}

.angle-left {
	transform: rotate(28deg) skewX(-30deg) scale(1,.866);

}

.angle-left:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.angle-left:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.edit_icon{
    background-color: #799298;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}