/* .p-tooltip-arrow {
    display: block !important;
  } */

.tooltip{
    position: absolute;
    z-index: 30;
}


.box_shadow{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: rotate(45deg);
    left: -7px;
    border: 1px solid;
}
 