@media (max-width: 600px){
    .boolean_question{
        flex-wrap: wrap;
    }
    .boolean_input{
        width: 100% !important;
        min-width: auto;
    }
}
@media (max-width: 900px){
    .boolean_question{
        flex-wrap: wrap;
    }
    .boolean_input{
        width: 100% !important;
        min-width: auto;
    }
}